.disp1{
  text-align: center;
}

.lead span{
  font-size: 25px;
  color: #EDAE49;
}

/*  Carousel  */
.display{
    font-size: calc(1.425rem + 2.1vw);
    padding-top: 50px!important;
    padding-bottom: 0px!important;
}
  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-250px * 7));
    }
  }
  .slider {
    background: white;
    box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
    height: 397px;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: 100%;
  }
  .slider::before, .slider::after {
    content: "";
    height: 497px;
    position: absolute;
    z-index: 2;
  }
  .slider::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
  }
  .slider::before {
    left: 0;
    top: 0;
  }
  .slider .slide-track {
    animation: scroll 60s linear infinite;
    display: flex;
    width: calc(250px * 14);
  }
  .slider .slide {
    height: 497px;
    width: 798px;
  }

  /*  Photo Grid  */
  #demo {
  height:100%;
  position:relative;
  overflow:hidden;
}


.thumb{
  margin-bottom: 25px;
}
        
.page-top{
  margin-top:15px;
}

   
img.zoom {
    width: 100%;
    height: 200px;
    border-radius:5px;
    object-fit:fill;
}
        
 
.transition {
    -webkit-transform: scale(1.2); 
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}
    .modal-header {
   
     border-bottom: none;
}
    .modal-title {
        color:#000;
    }
    .modal-footer{
      display:none;  
    }